.anchor-pane {
    -fx-background-color: #0F4C81; /* Dark blue */
}

.button {
    -fx-background-color: #0F4C81; /* Navy blue background */
    -fx-text-fill: white;
}

/* Set background color of the buttons when hovered */
.button:hover {
    -fx-background-color: #CB8211FF; /* Lighter orange when hovered */
}
.table-column .label {
    -fx-text-fill: white; /* White text */
    -fx-background-color: #0F4C81; /* Navy blue background for column headers */
}

/* Set text color of the labels */
.label {
    -fx-text-fill: white; /* White text */
}

/* Set text color of the text fields */
.text-field {
    -fx-text-fill: black; /* White text */
    -fx-border-color: #CB8211FF ;
}

/* Set text color of the choice box */
.choice-box {
    -fx-font-size: 14px;
    -fx-background-color: #CCCCCC; /* White background */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-border-color:#CB8211FF ; /* Light grey border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-text-fill: black; /* Set text color to black */
}
/* Set color of the date picker */
.date-picker {
    -fx-text-fill: black; /* White text */
    -fx-border-color: #CB8211FF ;
}

/* Set text color and size of the font awesome icons */
.font-awesome-icon-view {
    -fx-fill: #0F4C81; /* Dark blue for icons */
    -fx-font-size: 15px; /* Font size */
}